## TLADS Drill

Categorize each of the variables in the ESS dataset as categorical or continuous, and if continuous as ordinal, interval, or ratio variables.  Check your work with your mentor, and discuss what that information might imply for feature engineering with this data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# Set the default plot aesthetics to be prettier.
sns.set_style("white")

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv")
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [5]:
variable_type = pd.DataFrame()
variable_type['cntry'] = ('Categorical', 'NaN')
variable_type['idno'] = ('Continuous', 'Ordinal')
variable_type['year'] = ('Categorical', 'Ordinal')
variable_type['tvtot'] = ('Continuous', 'Ratio')
variable_type['ppltrst'] = ('Continuous', 'Ordinal')
variable_type['pplfair'] = ('Continuous', 'Ordinal')
variable_type['pplhp'] = ('Continuous', 'Ordinal')
variable_type['happy'] = ('Continuous', 'Ordinal')
variable_type['sclmeet'] = ('Continuous', 'Ordinal')
variable_type['sclact'] = ('Continuous', 'Ordinal')
variable_type['gndr'] = ('Categorical', 'NaN')
variable_type['agea'] = ('Continuous', 'Ratio')
variable_type['partner'] = ('Categorical', 'NaN')

In [6]:
variable_type

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhp,happy,sclmeet,sclact,gndr,agea,partner
0,Categorical,Continuous,Categorical,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Continuous,Categorical,Continuous,Categorical
1,NaN,Ordinal,Ordinal,Ratio,Ordinal,Ordinal,Ordinal,Ordinal,Ordinal,Ordinal,NaN,Ratio,NaN